.playerSection{

    display: grid;
    grid-template-rows: minmax(0, 1fr) 50px minmax(0, 1fr);
    grid-row: 3;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.pChoiceButtons{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

#pRock{

    width: 50%;
    height: 50%;
    background-color: #e1202d;
    border: solid 1px grey;
    padding: 0;
    border-radius: 20px;
    transition: 0.15s;

}

#pRock:hover{

    transform: scale(0.9);
    opacity: 90%;
    cursor: pointer;

}

#pRock:active{

    transform: scale(0.8);
    background-color: #dd4650;
    

}

#pPaper{

    width: 50%;
    height: 50%;
    background-color: #e1202d;
    border: solid 1px grey;
    padding: 0;
    border-radius: 20px;
    transition: 0.15s;

}

#pPaper:hover{

    transform: scale(0.9);
    opacity: 90%;
    cursor: pointer;

}

#pPaper:active{

    transform: scale(0.8);
    background-color: #dd4650;
    

}

#pScissors{

    width: 50%;
    height: 50%;
    background-color: #e1202d;
    border: solid 1px grey;
    padding: 0;
    border-radius: 20px;
    transition: .15s;

}

#pScissors:hover{

    transform: scale(0.9);
    opacity: 90%;
    cursor: pointer;

}

#pScissors:active{

    transform: scale(0.8);
    background-color: #dd4650;
    

}

.pRock{

    width: 100%;
    height: 100%;

}

.pPaper{

    width: 100%;
    height: 100%;

}

.pScissors{

    width: 100%;
    height: 100%;

}

#pPreText{

    display: flex;
    justify-content: center;
    align-items: center;

}

#pGameAnimations{

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;

}

#pGameAnimations img{

  max-width: 80%;       
  height: auto;
  width: auto;
  max-height: 80%;   
  object-fit: contain;

}